/*backgrounds*/

body {
    background: url(../img/carbon_fibre.png);
}

/*fonts*/
h1 {
    font-family: 'Faster One', cursive;
    font-size: 500%;
    color: orangered;
    text-shadow: 5px 5px 5px #000;
}

h2 {
    font-family: 'Dhurjati', sans-serif;
    color: white;
    font-size: 300%;
}