/*backgrounds*/

body {
    background: url(../img/carbon_fibre.png);
}

/*nav*/

nav {
display: inline-block;
}

li {
    display: inline-block;
    font-size: 300%;
    font-family: 'PT Mono';
    margin-right: 30px;
    text-transform: lowercase;
}


a:link , a:visited , a:focus , a:active , a:hover {
    text-decoration: none;
    color: gainsboro;
}

a:active {
    text-decoration: none;
    color: orangered;
}


/*fonts*/
.monster {
    font-family: 'Faster One', cursive;
    font-size: 2000%;
    color: orangered;
    text-shadow: -40px 6px 5px #000;
    display:block;
    text-align: center;
    margin-top: auto;
    margin-bottom: -150px;
}

.trucks {
    font-family: 'Open Sans';
    font-size: 1000%;
    color: gainsboro;
    font-style:italic;
    font-weight: 800;
    text-shadow: -40px 6px 5px #000;
    display:block;
    text-align: center;
    text-transform: uppercase;
        
 
}



h2 {
    font-family: 'Open Sans', ;
    font-weight:800;
    font-style:italic;
    color: gainsboro;
    font-size: 300%;
    text-transform: uppercase;
}


p,
blockquote {
   font-family: 'PT Mono', ;
    color: gainsboro;
    text-align: center;
}


/*Images*/

.first {
width: 180%;
box-shadow: -50px 10px 50px;
margin-bottom: 100px;
    margin-left: -490px;
}

.six {
    width: 100%;
    box-shadow: -20px 15px 40px;
}